<!DOCTYPE html>
<html>
<head>
  <title>Tortas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
<!--   <%= image_tag("BG.jpg", class: "imgFondo")%> -->

  <%= render "Partials/navigation" %>
	
  <% if notice %>
    <script>swal({ title: "<%= notice %>", type: "success", timer: 3000,showConfirmButton: false, closeOnConfirm: true });</script>
  <% end %>
  
  <% if alert %>
    <script>swal({ title: "<%= alert %>", type: "info", timer: 3000,showConfirmButton: false, closeOnConfirm: true });</script>
  <% end %>

  <section>
    <div class="container center-align">
      <%= yield %>
    </div>
  </section>


</body>
</html>
